.page-head-line {
    font-weight: 900;
    padding-bottom: 5px;
    border-bottom: 2px solid #F0677C;
    text-transform: uppercase;
    color: #F0677C;
    font-size: 20px;
    margin-bottom: 10px;
}

.page-head-line1 {
    font-weight: 400;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
    #text-transform: uppercase;
    color: Blue;
    font-size: 20px;
    margin-bottom: 5px;
}

.dashboard-div-wrapper {
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    color: #fff;
    margin-bottom: 50px;
}

    .dashboard-div-wrapper .progress {
        height: 2px;
    }
.bk-clr-one {
    background-color: #B9B739;
}

.bk-clr-two {
    background-color: #F94C4C;
}

.bk-clr-three {
    background-color: #119c7e;
}

.bk-clr-four {
    background-color: #b739b9;
}

.dashboard-div-icon {
    height: 75px;
    width: 75px;
    border: 2px solid #fff;
    padding: 20px;
	padding-top: 1px;
    border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    font-size: 22px;
    margin-bottom: 20px;
    color: #fff;
}